*{
    margin: 0px;
    padding: 0px;
}

/* Navbar */
#navbar {
    
    /* display: inline-flex; */
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    height: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    
    
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

}

#logo img {
    width: 120px;
    margin: 20px;
    padding-left: 310px;
    cursor: pointer;
    /* margin-right: 100px; */
}
#navbar ul {
    display: flex;
    padding-left: 15px;
}
#navbar ul li {
    padding: 10px;
    list-style: none;
}
#navbar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    /* padding: 2px; */
}

#navbar ul li a:hover{
    color: white;
    /* display: block; */
    padding: 2px;
    /* text-decoration: solid; */
    /* border: 2px solid white; */
    background-color: red;
    border-radius: 2px;
}


/*-----------------------------------------------------------*/
/* Home Section */
#home {
    display: flex;
    flex-direction: column ;
    padding-top: 300px;
    top: 100px;
    left: 0px;
    text-align: center;
    /* align-items: center; */
    background-size: 200px;
}
#home::before {
    content: "";
    position: absolute;
    background: url('../img/JW.jpg') no-repeat center center/cover;
    width: 100%;
    top: 50px;
    height: 100%;
    z-index: -2;
}

#home h1 {
    color: white;
    font-size: 2.6rem;
}

#home p{
    color: rgba(104, 221, 176, 1);
}

#jw img {
    width: 2000px;
}


#display_text {
    display: flex;
    flex-direction: column;
    background-color: rgba(212, 23, 23, 0.5);
    height: 10rem;
    width: 40rem;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 10px;
}
.btn {

}

/* #display_text::before {
    content: "";
    display: flex;
    
    background-color: rgb(212, 23, 23);
    position: absolute;
    height: 200px;
    width: 600px;
    z-index: -1;
    opacity: 0.5;
    
} */



    